#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  width: 100%;
}

nav ul {
  display: flex;
}

nav ul li {
  padding: 1rem;
  list-style-type: none;
}

#logo {
  height: 80%;
}

#task-container {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 10px;
  width: 50%;
}
.error-message {
  color: red;
}